<div fxLayout="row" fxLayout.lt-md="column">
  <div class="col-md-4 col-lg-4 col-xl-4 mb-4 mb-md-0 NoMargin lightgreyshade">
    <div class="card RecruiterBlock">

      <div class="card-body RecruiterBlock">

        <div class="text-center">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
               class="rounded-circle img-fluid" style="width: 20px;">
          <h5 class="my-3">ChatList.SystemUserInformation.LastName</h5>
          <p class="text-muted mb-1"> ChatList.SystemUserInformation.Email</p>
          <p class="text-muted mb-4">ChatList.SystemUserInformation.Designation</p>

        </div>
      </div>

      <app-candidate-list (conversationId)="onConversationSelected($event)"></app-candidate-list>
    </div>
  </div>
  <div class="col-md-8 col-lg-8 col-xl-8 NoMargin detailChat">
    <div class="conversation-section">
      <div class="header app-conversation-header">
        <app-conversation-header></app-conversation-header>
      </div>
      <div class="main app-conversation-main">
        <app-conversation-main [conversationId]="selectedConversationId"></app-conversation-main>
      </div>
      <div class="compose-response app-conversation-compose-response">
        <app-conversation-compose-response></app-conversation-compose-response>
      </div>
    </div>

    <!--<app-conversation-header></app-conversation-header>
   <div class="conversation-main-wrapper" style="overflow: auto; height:300px !important;">-->
    <!--calc(100% - header-height - footer-height)"-->
    <!-->
    <app-conversation-main [conversationId]="selectedConversationId"></app-conversation-main>
  </div>
    <app-conversation-compose-response style="height:300px !important;"></app-conversation-compose-response>-->
  </div>
  <!--<div fxHide fxLayout.lt-md class="col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0 NoMargin" ng-show="showCandidateDetails"></div>-->
</div>
